<section class="stages" id="stages">
	<div class="container">
		<h2><span>Схема</span> работы</h2>

		<div class="stages-block">

			<div class="stages-border one"></div>
			<div class="stages-border two"></div>
			<div class="stages-border three"></div>
			<div class="stages-border four"></div>
			<div class="stages-border five"></div>

			<div class="stages-block__comp d-flex flex-wrap justify-content-center">

				<div class="stages-block__item stages-item animated">
					<div class="stages-item__icon">
						<img src="{{ '/img/icons/stages/call.svg' | relative_url }}" alt="Звонок">
					</div>
					<h4>Звонок</h4>
				</div>

				<div class="stages-block__item stages-item animated">
					<div class="stages-item__icon">
						<img src="{{ '/img/icons/stages/checklist.svg' | relative_url }}" alt="Проверка наличия">
					</div>
					<h4>Проверка наличия</h4>
				</div>

				<div class="stages-block__item stages-item animated">
					<div class="stages-item__icon">
						<img src="{{ '/img/icons/stages/dogovor.svg' | relative_url }}" alt="Договор">
					</div>
					<h4>Договор</h4>
				</div>

				<div class="stages-block__item stages-item animated">
					<div class="stages-item__icon">
						<img src="{{ '/img/icons/stages/schet.svg' | relative_url }}" alt="Счет на предоплату">
					</div>
					<h4>Счет на предоплату</h4>
				</div>

				<div class="stages-block__item stages-item animated">
					<div class="stages-item__icon">
						<img src="{{ '/img/icons/stages/oplata.svg' | relative_url }}" alt="Оплата счета">
					</div>
					<h4>Оплата счета</h4>
				</div>

				<div class="stages-block__item stages-item animated">
					<div class="stages-item__icon">
						<img src="{{ '/img/icons/stages/truck.svg' | relative_url }}" alt="Работы">
					</div>
					<h4>Работы</h4>
				</div>

				<div class="stages-block__item stages-item animated">
					<div class="stages-item__icon">
						<img src="{{ '/img/icons/stages/putevoi.svg' | relative_url }}" alt="Путевой лист">
					</div>
					<h4>Путевой лист</h4>
				</div>

				<div class="stages-block__item stages-item animated">
					<div class="stages-item__icon">
						<img src="{{ '/img/icons/stages/done.svg' | relative_url }}" alt="Закрывающие документы">
					</div>
					<h4>Закрывающие документы</h4>
				</div>
				
			</div>
			<!-- /.stages-block__comp d-flex flex-wrap justify-content-center -->

		</div>
		<!-- /.stages-block d-flex flex-wrap -->

	</div>
	<!-- /.container -->
</section>
		<!-- /#stages.stages -->