.alexsab
*.php
phpmailer
sftp-config.json
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.bundle
vendor
node_modules/
docs/
dist/
jspm_packages/
public/vendor
/.git/
/**/Thumbs.db
/**/*.DS_Store
desktop.ini

public/assets/*
public/_data/manifest.json