<section class="advantages" id="advantages">
	<div class="container">
		<h2><span>Преимущества</span> работы с&nbsp;нами</h2>

		<div class="advantages__list df jcc fww">
			<div class="advantages__item">
				<div class="advantages__item--icon"><img src="{{ "/img/icons/big-parking-sign.svg" | relative_url }}" alt="Собственный автопарк"></div>
				<h3>Собственный автопарк</h3>
			</div>
			<!-- /.advantages__item -->

			<div class="advantages__item">
				<div class="advantages__item--icon"><img src="{{ "/img/icons/trucks.svg" | relative_url }}" alt="Большой выбор транспорта"></div>
				<h3>Большой выбор спецтехники</h3>
			</div>
			<!-- /.advantages__item -->

			<div class="advantages__item">
				<div class="advantages__item--icon"><img src="{{ "/img/icons/warranty.svg" | relative_url }}" alt="Гарантии предоставления услуг"></div>
				<h3>Гарантия и&nbsp;надежность</h3>
			</div>
			<!-- /.advantages__item -->

			<div class="advantages__item">
				<div class="advantages__item--icon"><img src="{{ "/img/icons/ruble.svg" | relative_url }}" alt="Гибкая ценовая политика"></div>
				<h3>Гибкая ценовая политика</h3>
			</div>
			<!-- /.advantages__item -->
		</div>
		<!-- /.advantages__list -->

	</div>
	<!-- /.container -->
</section>
<!-- /#advantages.advantages -->