<div class="maps" id="maps">

	<div class="dealer">
		<span class="dealer-info">
			<h2>Бумеранг-АвтоТранс</h2>
			<span class="dealer-contacts">
				<a class="dealer-phone" href="tel:{% include phonef.html phone=site.phone %}">{{ site.phone | escape }}</a>
				<a href="mailto:bat.smr63@yandex.ru" class="dealer-email">bat.smr63@yandex.ru</a>	
			</span>
			<span class="dealer-address">г. Самара, Заводское шоссе, 11Б, оф. 218а
				<small><a target="_blank" href="https://yandex.ru/maps/?z=15&ll=50.26109099999999,53.19987499999774&l=map&rtext=~53.199875,50.261091&origin=jsapi_2_1_76&from=api-maps">Проложить маршрут</a></small>
			</span>
			<span class="dealer-time">ежедневно: 8:00 — 20:00</span>
		</span>
		<span id="dealer-map1" class="dealer-map lazyload" style="background-image: url({{ '/img/loading.gif' | relative_url }});" data-src-background="{{ '/img/map.jpg' | relative_url }}">
			<span class="loader loader-default"></span>
			<span id="map1"></span>
		</span>
	</div>
	<!-- /.dealer -->

</div>
<!-- /.maps rand -->