<section class="order" id="order">
	<div class="container">
		<h2><span>Как заказать</span> машину?</h2>

		<div class="order__list df jcsb fww">
			
			<div class="order__item">
				<div class="order__icon">
					<img src="{{ "/img/icons/email.svg" | relative_url }}" alt="Связь с менеджером">
				</div>
				<h4>Связаться с менеджером</h4>
				<p>Вы можете связаться любым удобным для вас способом
				<a href="#nothing" class="modal-link">viber</a>, <a href="#nothing" class="modal-link">whatsApp</a>, <a href="tel:88469722555">звонок</a>, <a href="sms:88469722555">отправить смс</a></p>	
			</div>
			<!-- /.order__item -->

			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>
			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>
			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>
			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>

			<div class="order__item">
				<div class="order__icon">
					<img src="{{ "/img/icons/speech-bubble.svg" | relative_url }}" alt="Обсуждение работы">
				</div>
				<h4>Обсудить работу</h4>
				<p>Габариты груза, условия работы, время, сроки</p>	
			</div>
			<!-- /.order__item -->

			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>
			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>
			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>
			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>

			<div class="order__item">
				<div class="order__icon">
					<img src="{{ "/img/icons/document.svg" | relative_url }}" alt="Заключение договора">
				</div>
				<h4>Заключить договор</h4>
				<p>Договор при долгосрочном сотрудничестве</p>	
			</div>
			<!-- /.order__item -->

			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>
			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>
			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>
			<div class="dot"><svg width="8" height="8"><circle r="3" cx="4" cy="4" fill="#000" stroke="#000" stroke-width="1"></svg></div>

			<div class="order__item">
				<div class="order__icon">
					<img src="{{ "/img/icons/delivery_1.svg" | relative_url }}" alt="Предоставление спецтехники">
				</div>
				<h4>Получить спецтехнику</h4>
				<p>Транспорт, согласно договору, приезжает в назначенное время</p>	
			</div>
			<!-- /.order__item -->

		</div>
		<!-- /.order__list -->

	</div>
	<!-- /.container -->
</section>
<!-- /#order.order -->