<section class="service" id="service">
	
	<h2>Наш <span>автопарк</span></h2>

	<div class="service__list df jcc fww">
		
		{%- assign default_paths = site.pages | sort: "index" | map: "path" -%}
		{%- assign page_paths = default_paths -%}

		{%- for path in page_paths -%}
			{%- assign car = site.pages | where: "path", path | first -%}
			{%- if car.path contains '/cars/' -%}
				{%- if car.title and car.index -%}

			
		<div class="service__item">
			<a href="{{ car.url | relative_url }}" class="service__item--img">
				{%- assign img_path = "/img/avto/,.jpg" | split: "," -%}
				{%- assign img_url = img_path | join: car.uid -%}
				<img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ img_url | relative_url }}" alt="{{ car.car_name }}" class="lazyload">
			</a>
			<div class="service__item--info df jcsb">
				<h3>{{ car.car_name }}</h3>
				<span class="excerpt">{% if car.kuzov_l %}кузов {{ car.kuzov_l }}{% if car.kuzov_w %}x{{ car.kuzov_w }}{% endif %} м.<br>{% endif %}
				{% if car.tonnage %}грузоподъёмность {{ car.tonnage }} т.{% endif %}</span>
				<a href="{{ car.url | relative_url }}" class="btn info-popup">Подробнее</a>
			</div>
			<div class="price hidden">{%- if car.price -%}{{ car.price }} ₽{%- endif -%}</div>
			<div class="descr hidden">{{ car.content }}</div>
		</div>
		<!-- /.service__item -->


				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}

	</div>
	<!-- /.service__list -->
</section>
<!-- /#service.service -->