<!-- Раздел в разработке -->
<div class="modal mfp-hide white-popup-block" id="nothing">
	<h2>Раздел в разработке</h2>
	<h3>Но вы можете позвонить нам<br><a href="tel:88469722555">8 (846) 972-25-55</a></h3>
	<p>или заполнить форму ниже</p>
	<form method="POST">
		<!-- Hidden Required Fields -->
		<input type="hidden" name="Форма" value="В разработке">
		<!-- END Hidden Required Fields -->

		<input type="text" tabindex="-1" placeholder="Ваше имя" name="name">
		<input type="email" tabindex="-1" name="Email" placeholder="mail@example.com">
		<input type="tel" placeholder="8 (999) 999-99-99" name="Телефон" required>

		<button type="submit" class="btn">Перезвоните мне</button>
		<small>Нажимая на кнопку "Перезвоните мне", я даю согласие на <a href="#popup" class="popup">обработку персональных данных</a></small>
	</form>
</div>
