<div class="banner">
	<div class="banner-wrap banner-slider">
		<div class="banner-slide" style="background-image: url({{ "/img/slide-bg-1.jpg | relative_url }});">
			<div class="banner-text">
				<span class="big-title">Грузоперевозки с&nbsp;кму по&nbsp;Самаре и&nbsp;области</span>
				<span class="subtitle">Большой выбор транспорта</span>
				<span class="subtitle">Собственный автопарк</span>
			</div>
		</div>
		<!-- /.banner-slide -->
		<div class="banner-slide" style="background-image: url({{ "/img/slide-bg-2.jpg | relative_url }});">
			<div class="banner-text">
				<span class="big-title">Большой выбор транспорта с&nbsp;различными габаритами</span>
				<span class="subtitle">Грузоподъемность транспорта от&nbsp;1.5&nbsp;тонны до&nbsp;20&nbsp;тонн</span>
				<span class="subtitle">Грузоподъемность манипулятора от&nbsp;3&nbsp;тонн до&nbsp;7&nbsp;тонн</span>
			</div>
		</div>
		<!-- /.banner-slide -->
		<div class="banner-slide" style="background-image: url({{ "/img/slide-bg-3.png | relative_url }});">
			<div class="banner-text">
				<span class="big-title">Собственный автопарк</span>
				<span class="subtitle">ГАЗель с установкой "катюша", ГАЗ 3307, KIA Rhino, КАМаз 65117, МАЗ 6303</span>
				<span class="subtitle">Полуприцеп МАЗ 64229, KIA GRANTO, ISUZU, МАЗ 4370 "Зубренок"</span>
			</div>
		</div>
		<!-- /.banner-slide -->	
	</div>
	<div class="banner-form">
			<h2>Хотите узнать о&nbsp;всех наших услугах?</h2>
			<p>Оставьте свой номер телефона, и&nbsp;мы&nbsp;перезвоним Вам</p>
			<form method="POST">
				<!-- Hidden Required Fields -->
				<input type="hidden" name="Форма" value="Из баннера">
				<!-- END Hidden Required Fields -->

				<input type="text" name="Имя" placeholder="Ваше имя">
				<input type="tel" name="Телефон" placeholder="8 (999) 999-99-99*" required>
				<input type="email" name="Email" placeholder="mail@example.com">
				<button type="submit" class="btn">Перезвоните&nbsp;мне</button>
				<small>Нажимая на&nbsp;кнопку "Перезвоните мне", я&nbsp;даю согласие на&nbsp;<a href="#popup" class="popup">обработку персональных данных</a></small>
			</form>
		</div>
		<!-- /.banner-form -->
</div>
<!-- /.banner -->