<footer class="footer">
	<p>Транспортная компания ООО "Бумеранг-АвтоТранс" в&nbsp;Самаре</p>
	<img class="logo" src="{{ "/img/logo-512x188.svg | relative_url }}" alt="Бумеранг-АвтоТранс">
	<div class="container">
		<p class="oferta">Обращаем Ваше внимание на&nbsp;то, что данный интернет сайт носит исключительно информационный характер и&nbsp;ни&nbsp;при каких условиях не&nbsp;является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной иформации о&nbsp;наличии и&nbsp;стоимости указанных товаров&nbsp;и (или) услуг, пожалуйста обращайтесь к&nbsp;менеджерам отдела клиентского обслуживания с&nbsp;помощью специальной формы связи или по&nbsp;телефону: <a href="tel:88469722555" class="nowrap">8 (846) 972-25-55</a></p>
	</div>
</footer>