<header class="header">
	<div class="container">
		<div class="header-wrap">
			<span class="header-logo">
				<a href="{{ '/'' | relative_url }}">
					<img src="{{ '/img/logo-512x188.svg' | relative_url }}" alt="{{ site.title | escape }}">
				</a>
			</span>
			<!-- /.header-logo -->
			<div class="header-phones rand1">
				<div class="phone phone-one">
					<img src="{{ '/img/icons/map.svg' | relative_url }}" alt="Как проехать">
					<span class="phone-info">
						<a href="#maps" class="scroll">Как проехать</a>
						<small>Заводское шоссе, 11Б</small>
					</span>
				</div>
				{%- if site.phone -%}
				<div class="phone phone-two">
					<img src="{{ '/img/icons/phone.svg' | relative_url }}" alt="Телефон">
					<span class="phone-info">
						<a href="tel:{% include phonef.html phone=site.phone %}">{{ site.phone | escape }}</a>
						<small><a href="#callbackForm" class="modal-link nowrap" data-title="Перезвоните мне">Заказать&nbsp;звонок</a></small>
					</span>
				</div>
				{%- endif -%}
				<div class="phone phone-three">
					<img src="{{ '/img/icons/time.svg' | relative_url }}" alt="Время работы">
					<span class="phone-info">
						<a href="#callbackForm" class="modal-link" data-title="Когда вам перезвонить?">8:00 – 20:00</a>
						<small>Ежедневно</small>
					</span>
				</div>
			</div>
			<!-- /.header-phones -->
		</div>
		<!-- /.header-wrap -->
	</div>
	<!-- /.container -->
</header>
<!-- /.header -->