<div class="top-menu" id="top-menu">
	<div class="container">
		<ul class="top-menu__list">
			<li><a href="about.html" class="">О компании</a></li>
			<li><a href="arenda.html" class="">Аренда</a></li>
			<li><a href="arenda-model.html" class="">Модель</a></li>
			<li><a href="price.html" class="">Цены</a></li>
			<li><a href="gallery.html" class="">Фотогалерея</a></li>
			<li><a href="discounts.html" class="">Акции</a></li>
			<li><a href="articles.html" class="">Статьи</a></li>
			<li><a href="reviews.html" class="">Отзывы</a></li>
			<li><a href="contacts.html" class="">Контакты</a></li>
		</ul>
	</div>
	<div class="top-menu__wrap">
		<a href="/" class="top-menu__logo">
			<img src="/img/logo-only-text.svg" alt="Бумеранг-АвтоТранс">
		</a>
		<div class="top-menu__right">
			<a href="#maps" class="scroll"><img src="/img/icons/map.svg" alt="Телефон"></a>			
			<a href="tel:88469722555" style="margin-right: 5px"><img src="/img/icons/phone.svg" alt="Телефон"></a>						

			<button class="mobile-btn"><span></span><span></span><span></span></button>
		</div>
	</div>
	<!-- /.top-menu__wrap -->
</div>
<!-- /#top-menu.top-menu -->