{%- assign default_paths = site.pages | sort: 'order' | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<div class="top-menu" id="top-menu">
	<div class="container">
		{%- if page_paths -%}
		<ul class="top-menu__list">
			{%- for path in page_paths -%}
				{%- assign my_page = site.pages | where: "path", path | first -%}
				{%- unless my_page.path contains 'cars/' -%}
				{%- unless my_page.exclude -%}
					{%- if my_page.menu -%}

						<li {% if page.url == my_page.url %} class="active"{% endif %}>
							<a href="{{ my_page.url | relative_url }}">{{ my_page.menu | escape }}</a>

							{% if my_page.url == '/service/' %}

							<ul class="submenu">
								{%- assign categories = site.categories | sort: "index" -%}
								{%- for category in categories -%}

									<li><a href="{{ category.url }}">{{ category.catid }}</a></li>

								{%- endfor -%}
							</ul>

							{% endif %}

						</li>

					{%- endif -%}
				{%- endunless -%}
				{%- endunless -%}
			{%- endfor -%}
		</ul>
		{%- endif -%}
	</div>
	<div class="top-menu__wrap">
		<a href="{{ '/'' | relative_url }}" class="top-menu__logo">
			<img src="{{ '/img/logo-only-text.svg' | relative_url }}" alt="{{ site.title | escape }}">
		</a>
		<div class="top-menu__right">
			<a href="#maps" class="scroll"><img src="{{ '/img/icons/map.svg' | relative_url }}" alt="Как проехать"></a>
			<span class="mob-btn-header" style="margin-right: 5px"><img src="{{ '/img/icons/phone.svg' | relative_url }}" alt="Телефон"></span>

			<button class="mobile-btn"><span></span><span></span><span></span></button>
		</div>
	</div>
	<!-- /.top-menu__wrap -->
</div>
<!-- /#top-menu.top-menu -->