<!-- <section>
	<div class="container">
		
		<h2>О&nbsp;<span>нас</span></h2>

		<p>Компания Бумеранг Автотранс предоставляет услуги компаниям и жителям Самары и области по аренде спецтехники. Уже более трех лет мы работаем по следующим направлениям:</p>

		<ul>
			<li>перевозка изделий из железобетона, кирпич, кабель, арматура, доски, колодезные кольца, трубы и др.;</li>
			<li>перевозка габаритных бытовок, ракушек, гаражей, хозблоков, ларьков, контейнеров и торговых палаток;</li>
			<li>проведение работ, как на строительной площадке, так и на территории склада или дачного участка;</li>
			<li>аренда кранов манипуляторов и грузовых автомобилей на нужное вам время.</li>
		</ul>

		<p>В нашей команде работают опытные водители-операторы, которые ответственно подойдут к любому вопросу, оперативно доставят технику на объект и решат все поставленные задачи. А гибкая ценовая политика позволит подобрать удобный вариант именно под ваши запросы.</p> 

		<p>Нам доверяют как крупные строительные компании <?php/*(перечислить примеры)*/?>, так и частные лица. Мы рады предложить Вам услуги на любой срок: от одного дня (для выполнения разовых работ), до нескольких месяцев.</p>

		<p>С нами работать легко!</p>

	</div>
</section> -->

<section class="about" id="about" style="background-image: url(../../../img/about.png);">
	<div class="container">
		<h2>О <span>нас</span></h2>

		<div class="about__block df jcsb">

			<div class="about__item about__item--text">
				<p>Компания Бумеранг Автотранс предоставляет услуги компаниям и жителям Самары и области по аренде спецтехники. Уже более трех лет мы работаем по следующим направлениям:</p>

				<div class="areas df jcsb fww">

					<div class="areas__item">
						<div class="areas__item--number">1</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							Перевозка изделий из железобетона, кирпич, кабель, арматура, доски, колодезные кольца, трубы и др.; 
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

					<div class="areas__item">
						<div class="areas__item--number">2</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							Перевозка габаритных бытовок, ракушек, гаражей, хозблоков, ларьков, контейнеров и торговых палаток; 
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

					<div class="areas__item">
						<div class="areas__item--number">3</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							Проведение работ, как на строительной площадке, так и на территории склада или дачного участка; 
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

					<div class="areas__item">
						<div class="areas__item--number">4</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							Аренда кранов манипуляторов и грузовых автомобилей на нужное вам время. 
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

				</div>
				<!-- /.areas -->

				<p>В нашей команде работают опытные водители-операторы, которые ответственно подойдут к любому вопросу, оперативно доставят технику на объект и решат все поставленные задачи. А гибкая ценовая политика позволит подобрать удобный вариант именно под ваши запросы. </p>
				<p>Нам доверяют как крупные строительные компании , так и частные лица. Мы рады предложить Вам услуги на любой срок: от одного дня (для выполнения разовых работ), до нескольких месяцев. </p>
				<p>С нами работать легко!</p>

			</div>
			<!-- /.about__item about__item--text -->

		</div>
		<!-- /.about__block -->

	</div>
	<!-- /.container -->
</section>
		<!-- /#about.about -->