<section class="price" id="price">
	<div class="container">
		<h2>Прайс <span>лист</span></h2>

		<div class="f-table__wrap">
			<div class="price__table f-table">

				<div class="f-table__row f-table__head">
					<div class="f-table__col">№</div>
					<div class="f-table__col f-table__col--name">Наименование</div>
					<div class="f-table__col">Цена</div>
					<!-- <div class="f-table__col">1&nbsp;час</div> -->
					<!-- <div class="f-table__col">8&nbsp;часов</div> -->
				</div>
				<!-- /.f-table__row -->
				
				<?php $index = 0; ?>
				<?php foreach ($cars as $car) { ?>
				
					<?php if($car['index'] == '') continue; ?>
					<?php $index++ ?>

				<div class="f-table__row">
					<div class="f-table__col"><?=$index?></div>
					<div class="f-table__col f-table__col--name"><?=$car["name"]?></div>
					<div class="f-table__col"><?=$car["price"]?$car["price"].' ₽':''?></div>
					<!-- <div class="f-table__col"></div> -->
				</div>
				<!-- /.f-table__row -->
			

				<?php } ?>

			</div>
			<!-- /.price__table f-table -->
		</div>
		<!-- /.f-table__wrap -->

		<nav class="model-nav model-nav-two">
			<ul>
				<?php $index = 0; ?>
				<?php foreach ($cars as $car) { ?>
				
					<?php if($car['index'] == '') continue; ?>
					<?php $index++ ?>

				<li><a href="javascript:void(0)" title="model"><span class="number"><?=$index?></span><img src="/img/model-nav/<?=$car["uid"]?>.png" alt="<?=$car["name"]?>"></a></li>
			

				<?php } ?>
			</ul>
		</nav>
		<!-- /.model-nav -->

	</div>
	<!-- /.container -->
</section>
<!-- /#price.price -->