---
layout: default
---

<section class="model" id="model">
	<div class="container">
		<h1>{{ page.h123 }}</h1>

		<div class="model__block d-flex" itemscope itemtype="http://schema.org/Product">

			<div class="model__info">
				<div style="display: none;" itemprop="name">{{ page.h123 }}</div>

				{{ content }}

				<div class="parameters" itemprop="description">
					{% if page.kuzov_l != "" %}
					<div class="parameter d-flex">
						<div class="parameter__icon">
							<img src="{{ '/img/icons/arrows.svg' | relative_url }}" alt="Кузов">
							<span>Кузов, м</span>
						</div>
						<div class="parameter__text">{{ page.kuzov_l }}{% if page.kuzov_w != "" %}x{{ page.kuzov_w }}{% endif %}</div>
					</div>
					<!-- /.parameter -->
					{% endif %}
					{% if page.tonnage != "" %}
					<div class="parameter d-flex">
						<div class="parameter__icon">
							<img src="{{ '/img/icons/kg.svg' | relative_url }}" alt="Грузоподъёмность">
							<span>Грузоподъёмность, т</span>
						</div>
						<div class="parameter__text">{{ page.tonnage }}</div>
					</div>
					<!-- /.parameter -->
					{% endif %}
					{%- if page.price != "" -%}
					<div class="parameter d-flex" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
						<div class="parameter__icon">
							<img src="{{ '/img/icons/price.svg' | relative_url }}" alt="Цена">
							<span>Цена, ₽/час</span>
						</div>
						<div class="parameter__text">{% include numf.html number=page.price ts=' ' decimals=0 %}</div>
						<meta itemprop="price" content="{{ page.price }}">
						<meta itemprop="priceCurrency" content="RUB">
						<link itemprop="availability" href="http://schema.org/InStock">
					</div>
					<!-- /.parameter -->
					{%- endif -%}
				</div>
				<!-- /.parameters -->

				<a href="#orderForm" class="btn modal-link" data-title="{{ page.title }}">Заказать</a>

			</div>
			<!-- /.model__info -->

			<div class="model__slider">
				<div class="model__slider--wrap">

					{%- if page.images and page.images != "" -%}

						{%- assign imgs = page.images | split: "|" -%}

						{%- for img in imgs -%}

					<img src="{{ img | relative_url }}" alt="{{ page.car_name }}" itemprop="image">

						{%- endfor -%}

					{%- else -%}

					{%- assign img_path = "/img/model-nav/400jpg/,.jpg" | split: "," -%}
					{%- assign img_url = img_path | join: page.thumb -%}

					<img src="{{ img_url | relative_url }}" alt="{{ page.car_name }}" itemprop="image">

					{%- endif -%}

				</div>
				<!-- /.model__slider--wrap -->
				<div class="model__slider--nav">


					{%- if page.images != "" -%}

						{%- assign imgs = page.images | split: "|" -%}

						{%- for img in imgs -%}

					<span><img src="{{ img | relative_url }}" alt="{{ page.car_name }}" itemprop="image"></span>

						{%- endfor -%}
					{%- else -%}

					{%- endif -%}

				</div>
				<!-- /.model__slider--nav -->
			</div>
			<!-- /.model__slider -->
		</div>
		<!-- /.model__block -->

		<nav class="model-nav">
			<ul>

				{%- assign default_paths = site.pages | sort: "index" | map: "path" -%}
				{%- assign page_paths = default_paths -%}

				{% assign amount = 0 %}

				{%- for path in page_paths -%}
					{%- assign car = site.pages | where: "path", path | first -%}
					{%- if car.path contains '/cars/' -%}
						{%- if car.title and car.index -%}

						{% capture amount %}{{ amount | plus:1 }}{% endcapture %}

						{%- assign img_path = "/img/model-nav/400jpg/,.jpg" | split: "," -%}
						{%- assign img_url = img_path | join: car.thumb -%}

				<li {% if page.url == car.url %} class="active"{% endif %}><a href="{{ car.url | relative_url }}" title="{{ car.car_name }}"><img src="{{ img_url | relative_url }}" alt="{{ car.car_name }}"></a></li>

						{%- endif -%}
					{%- endif -%}
				{%- endfor -%}

			</ul>
		</nav>
		<!-- /.model-nav -->

	</div>
	<!-- /.container -->
</section>
<!-- /#model.model -->
