---
layout: default
---

<section class="about" id="about" style="background-image: url({{ '/img/about.png' | relative_url }});">
	<div class="container">
		<h2>О <span>нас</span></h2>

		<div class="about__block df jcsb">

			<div class="about__item about__item--text">
				<p>{{ page.pretext }}</p>

				<div class="areas df jcsb fww">

					<div class="areas__item">
						<div class="areas__item--number">1</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							{{ page.text1 }}
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

					<div class="areas__item">
						<div class="areas__item--number">2</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							{{ page.text2 }}
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

					<div class="areas__item">
						<div class="areas__item--number">3</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							{{ page.text3 }}
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

					<div class="areas__item">
						<div class="areas__item--number">4</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							{{ page.text4 }}
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

				</div>
				<!-- /.areas -->

				
				{{ content }}
				

			</div>
			<!-- /.about__item about__item--text -->

		</div>
		<!-- /.about__block -->

	</div>
	<!-- /.container -->
</section>
<!-- /#about.about -->

{%- include main/service.html -%}

{%- include main/order.html -%}

{%- include main/offer.html -%}

{%- include main/maps.html -%}
