---
layout: default
---

<section class="about" id="about" style="background-image: url({{ '/img/about.png' | relative_url }});">
	<div class="container">
		<h2>О <span>нас</span></h2>

		<div class="about__block df jcsb">

			<div class="about__item about__item--text">
				<p>Компания Бумеранг Автотранс предоставляет услуги компаниям и жителям Самары и области по аренде спецтехники. Уже более трех лет мы работаем по следующим направлениям:</p>

				<div class="areas df jcsb fww">

					<div class="areas__item">
						<div class="areas__item--number">1</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							Перевозка изделий из железобетона, кирпич, кабель, арматура, доски, колодезные кольца, трубы и др.; 
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

					<div class="areas__item">
						<div class="areas__item--number">2</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							Перевозка габаритных бытовок, ракушек, гаражей, хозблоков, ларьков, контейнеров и торговых палаток; 
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

					<div class="areas__item">
						<div class="areas__item--number">3</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							Проведение работ, как на строительной площадке, так и на территории склада или дачного участка; 
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

					<div class="areas__item">
						<div class="areas__item--number">4</div>
						<!-- /.areas__item--number -->
						<div class="areas__item--text">
							Аренда кранов манипуляторов и грузовых автомобилей на нужное вам время. 
						</div>
						<!-- /.areas__item--text -->
					</div>
					<!-- /.areas__item -->

				</div>
				<!-- /.areas -->

				
				{{ content }}
				

			</div>
			<!-- /.about__item about__item--text -->

		</div>
		<!-- /.about__block -->

	</div>
	<!-- /.container -->
</section>
<!-- /#about.about -->

{%- include main/service.html -%}

{%- include main/order.html -%}

{%- include main/offer.html -%}

{%- include main/maps.html -%}
