---
layout: default
---

<!-- *********************************************************** -->
<!-- ЗАГОЛОВОК H1. ЕГО НЕ ВИДНО НА СТРАНИЦЕ, НО ОН ВИДЕН РОБОТАМ -->
<!-- *********************************************************** -->

<h1 class="visually-hidden">Аренда крана-манипулятора, воровайки, кран-борта, КМУ в Самаре</h1>
<!-- /.visually-hidden -->


<main>


	<section class="contact-page" id="contact-page">
		<div class="container">
			<h2>Контакты</h2>

  <!-- { { content } } -->

			<div class="contact__block d-flex">

				
				<div class="contact__item">
					<div class="contact__item--icon">
						<img src="{{ '/img/icons/location.svg' | relative_url }}" alt="ALT">
					</div>
					<!-- /.contact__item--icon -->
					<div class="contact__item--info">
						<b>г. Самара, Заводское шоссе, 11Б, оф. 218а</b>
						<span>ежедневно: 8:00 - 20:00</span>
					</div>
					<!-- /.contact__item--info -->
				</div>
				<!-- /.contact__item -->

				<div class="contact__item">
					<div class="contact__item--icon">
						<img src="{{ '/img/icons/contact-phone.svg' | relative_url }}" alt="ALT">
					</div>
					<!-- /.contact__item--icon -->
					<div class="contact__item--info">
						<a href="tel:+78469722555">8 (846) 972-25-55</a>
					</div>
					<!-- /.contact__item--info -->
				</div>
				<!-- /.contact__item -->

				<div class="contact__item">
					<div class="contact__item--icon">
						<img src="{{ '/img/icons/contact-mail.svg' | relative_url }}" alt="ALT">
					</div>
					<!-- /.contact__item--icon -->
					<div class="contact__item--info">
						<a href="mailto:bat.smr63@yandex.ru">bat.smr63@yandex.ru</a>
					</div>
					<!-- /.contact__item--info -->
				</div>
				<!-- /.contact__item -->

			</div>
			<!-- /.contact__block -->

		</div>
		<!-- /.container -->
	</section>
	<!-- /#contact-page.contact-page -->

	<span id="dealer-map1" class="dealer-map lazyload" style="background-image: url({{ '/img/loading.gif' | relative_url }});" data-src-background="{{ '/img/big-map.jpg' | relative_url }}">
		<span class="loader loader-default"></span>
		<span id="map1"></span>
	</span>

	<a target="_blank" href="https://yandex.ru/maps/?z=15&amp;ll=50.26109099999999,53.19987499999774&amp;l=map&amp;rtext=~53.199875,50.261091&amp;origin=jsapi_2_1_76&amp;from=api-maps" class="btn ya-btn">Проложить маршрут</a>


</main>