---
layout: default
---

<!-- *********************************************************** -->
<!-- ЗАГОЛОВОК H1. ЕГО НЕ ВИДНО НА СТРАНИЦЕ, НО ОН ВИДЕН РОБОТАМ -->
<!-- *********************************************************** -->

<h1 class="visually-hidden">Аренда крана-манипулятора, воровайки, кран-борта, КМУ в Самаре</h1>
<!-- /.visually-hidden -->


<main>

  <!-- { { content } } -->

<section class="discounts" id="discounts">
	<div class="container">
		<h2>Акции</h2>

		<div class="discounts__block d-flex justify-content-center">
			
			<a href="#callbackForm" class="discounts__item modal-link" data-title="Воспользоваться акцией">
				<span class="discounts__item-img lazyparent">
					<img src="/img/loading.gif" data-src="/img/discounts/gift.jpg" alt="Акция" class="lazyload">
				</span>
				<span class="discounts__item--text">Скидка&nbsp;10% на&nbsp;второй заказ</span>
			</a>
			<!-- /.discounts__item -->
			<a href="#callbackForm" class="discounts__item modal-link" data-title="Воспользоваться акцией">
				<span class="discounts__item-img lazyparent">
					<img src="/img/loading.gif" data-src="/img/discounts/8hours.jpg" alt="Акция" class="lazyload">
				</span>						
				<span class="discounts__item--text">При заказе KIA Granto более чем на&nbsp;8&nbsp;часов скидка&nbsp;10%</span>
			</a>
			<!-- /.discounts__item -->
			<a href="#callbackForm" class="discounts__item modal-link" data-title="Воспользоваться акцией">
				<span class="discounts__item-img lazyparent">
					<img src="/img/loading.gif" data-src="/img/discounts/s-saita.jpg" alt="Акция" class="lazyload">
				</span>						
				<span class="discounts__item--text">При заказе с&nbsp;сайта скидка&nbsp;5%</span>
			</a>
			<!-- /.discounts__item -->
			<!-- 
			<a href="#callbackForm" class="discounts__item modal-link" data-title="Воспользоваться акцией">
				<span class="discounts__item-img lazyparent">
					<img src="/img/loading.gif" data-src="/img/discounts/hot.jpg" alt="Акция" class="lazyload">
				</span>						
				<span class="discounts__item--text">Горячее предложение месяца</span>
			</a>
			 -->
			<!-- /.discounts__item -->
			<!-- 
			<a href="#callbackForm" class="discounts__item modal-link" data-title="Воспользоваться акцией">
				<span class="discounts__item-img lazyparent">
					<img src="/img/loading.gif" data-src="/img/discounts/8hours-2.jpg" alt="Акция" class="lazyload">
				</span>						
				<span class="discounts__item--text">При заказе ГАЗ&nbsp;3307 более чем на&nbsp;8&nbsp;часов скидка&nbsp;10%</span>
			</a>
			 -->
			<!-- /.discounts__item -->

		</div>
		<!-- /.discounts__block d-flex justify-content-center -->

	</div>
	<!-- /.container -->
</section>
<!-- /#discounts.discounts -->

</main>