---
layout: default
---

<section class="reviews">
	<div class="container">
		<h2>Отзывы</h2>

		<div class="d-flex reviews__links">
			<div class="reviews__link ">
				<img src="{{ '/img/reviews/yandex.svg' | relative_url }}" alt="Яндекс">
				<a href="https://yandex.ru/profile/70724167277" target="_blank">Оставить отзыв на Яндекс.Картах</a>
			</div>
			<!-- /.reviews__link -->
			<div class="reviews__link">
				<img src="{{ '/img/reviews/google.svg' | relative_url }}" alt="Google">
				<a href="https://g.page/kmusamara/review?rc" target="_blank">Оставить отзыв на Google.Картах</a>
			</div>
			<!-- /.reviews__link -->
			<div class="reviews__link">
				<img src="{{ '/img/reviews/2gis.svg' | relative_url }}" alt="2GIS">
				<a href="https://go.2gis.com/fklk4" target="_blank">Оставить отзыв в 2Gis</a>
			</div>
			<!-- /.reviews__link -->
		</div>
		<!-- /.reviews__links -->

		<div class="reviews__block">
			
			<div class="reviews__slider reviews-text-slider">

				<div class="item">
					<div class="reviews__text">
						<h4>Евгений Семибратов</h4>
						<p>Была необходимость перевезти гараж. Обратился в компанию "Бумеранг-Автотранс". Заявку приняли сразу, очень приветливый менеджер, в течении 30 минут спец техника была уже у меня. При необходимости буду обращаться только в данную компанию!!! Все сделали быстро и качественно!!! Всем советую!!!</p>
						<div class="reviews-date"><i>2019-1-28</i></div>
						<!-- /.reviews-date -->
						<span class="rating" data-star="5">
							<span class="star"></span>
							<span class="star"></span>
							<span class="star"></span>
							<span class="star"></span>
							<span class="star"></span>
						</span>
						<!-- /.rating -->
					</div>
					<!-- /.reviews__text -->
				</div>
				<!-- /.item -->

				<div class="item">
					<div class="reviews__text">
						<img src="https://avatars.mds.yandex.net/get-yapic/29310/J57Ln7ZotbRXob0TPlEiW0AK39w-1/islands-200" alt="Светлана Князева" class="reviews__user">
						<h4>Светлана Князева</h4>
						<!-- <h5>«Техника в полном порядке»</h5> -->
						<p>Давно работаем по перевозкам с этой компанией, логистика на высшем уровне, сроки соблюдаются, доки вовремя и в порядке, приемлемые цены, всегда на связи!</p>
						<div class="reviews-date"><i>2020-08-19</i></div>
						<!-- /.reviews-date -->
						<span class="rating" data-star="5">
							<span class="star"></span>
							<span class="star"></span>
							<span class="star"></span>
							<span class="star"></span>
							<span class="star"></span>
						</span>
						<!-- /.rating -->
					</div>
					<!-- /.reviews__text -->
				</div>
				<!-- /.item -->

			</div>
			<!-- /.reviews-text-slider -->

			<div class="reviews__slider reviews-video-slider" style="display: none;">

				<div class="item">
					<a href="https://www.youtube.com/watch?v=OkNcXWbSmVY" class="embed-responsive embed-responsive-16by9 reviews-video-link lazyload" style="background-image: url({{ '/img/loading.gif' | relative_url }});" data-src-before="https://img.youtube.com/vi/OkNcXWbSmVY/maxresdefault.jpg">
						<img src="{{ '/img/icons/play-btn.svg' | relative_url }}" alt="Play" class="play-btn">
					</a>
					<span class="video-title">Отзыв Антона Алексеевича, 2020-05-30</span>
					<!-- /.video-title -->
				</div>
				<!-- /.item -->

				<div class="item">
					<a href="https://www.youtube.com/watch?v=uNIW6wGoaxA" class="embed-responsive embed-responsive-16by9 reviews-video-link lazyload" style="background-image: url({{ '/img/loading.gif' | relative_url }});" data-src-before="https://img.youtube.com/vi/uNIW6wGoaxA/maxresdefault.jpg">
						<img src="{{ '/img/icons/play-btn.svg' | relative_url }}" alt="Play" class="play-btn">
					</a>
					<span class="video-title">Отзыв Александра Сергеевича, 2020-04-20</span>
					<!-- /.video-title -->
				</div>
				<!-- /.item -->

				<div class="item">
					<a href="https://www.youtube.com/watch?v=6dA56jMBAI0" class="embed-responsive embed-responsive-16by9 reviews-video-link lazyload" style="background-image: url({{ '/img/loading.gif' | relative_url }});" data-src-before="https://img.youtube.com/vi/6dA56jMBAI0/maxresdefault.jpg">
						<img src="{{ '/img/icons/play-btn.svg' | relative_url }}" alt="Play" class="play-btn">
					</a>
					<span class="video-title">Отзыв Александра Сергеевича, 2020-04-20</span>
					<!-- /.video-title -->
				</div>
				<!-- /.item -->

				<div class="item">
					<a href="https://www.youtube.com/watch?v=gn7ozDp0IqY" class="embed-responsive embed-responsive-16by9 reviews-video-link lazyload" style="background-image: url({{ '/img/loading.gif' | relative_url }});" data-src-before="https://img.youtube.com/vi/gn7ozDp0IqY/maxresdefault.jpg">
						<img src="{{ '/img/icons/play-btn.svg' | relative_url }}" alt="Play" class="play-btn">
					</a>
					<span class="video-title">Отзыв Александра Сергеевича, 2020-04-20</span>
					<!-- /.video-title -->
				</div>
				<!-- /.item -->

			</div>
			<!-- /.reviews-video-slider -->

		</div>
		<!-- /.reviews__block -->
	</div>
	<!-- /.container -->
	<div class="reviews__letter__block" style="display: none;">
		<div class="reviews__letter">
			<div class="reviews__letter--slide d-flex">
				<div class="reviews__letter--img">
					<a href="{{ '/img/reviews/letter.jpg' | relative_url }}" class="lazyparent">
						<img src="{{ '/img/loading.gif' | relative_url }}" alt="Благодарственное письмо" data-src="{{ '/img/reviews/letter.jpg' | relative_url }}" class="lazyload">
					</a>							
				</div>
				<!-- /.reviews__letter--img lazyparent -->
				<div class="reviews__letter--text">
					<h3>Благодарственное <br>письмо</h3>
					<p>Сдается в аренду бортовой автомобиль ГАЗ 3307, валит на 3 стороны. Длина кузова - 3,5 метра. Общая грузоподъемность - 4,5 тонны. В кузове установлено крепление "Катюша", которое позволяет перевозить негабаритный груз длинной до 6 метров. При ее использовании груз должен не превышать 3 тонн. Минимальное время аренды - 3 часа. Междугородние перевозки - 35-40 р\км.</p>
				</div>
				<!-- /.reviews__letter--text -->
			</div>
			<!-- /.reviews__letter--slide -->

			<div class="reviews__letter--slide d-flex">
				<div class="reviews__letter--img">
					<a href="{{ '/img/reviews/letter.jpg' | relative_url }}" class="lazyparent">
						<img src="{{ '/img/loading.gif' | relative_url }}" alt="Благодарственное письмо" data-src="{{ '/img/reviews/letter.jpg' | relative_url }}" class="lazyload">
					</a>							
				</div>
				<!-- /.reviews__letter--img lazyparent -->
				<div class="reviews__letter--text">
					<h3>Благодарственное <br>письмо</h3>
					<p>Сдается в аренду бортовой автомобиль ГАЗ 3307, валит на 3 стороны. Длина кузова - 3,5 метра. Общая грузоподъемность - 4,5 тонны. В кузове установлено крепление "Катюша", которое позволяет перевозить негабаритный груз длинной до 6 метров. При ее использовании груз должен не превышать 3 тонн. Минимальное время аренды - 3 часа. Междугородние перевозки - 35-40 р\км.</p>
				</div>
				<!-- /.reviews__letter--text -->
			</div>
			<!-- /.reviews__letter--slide -->

			<div class="reviews__letter--slide d-flex">
				<div class="reviews__letter--img">
					<a href="{{ '/img/reviews/letter.jpg' | relative_url }}" class="lazyparent">
						<img src="{{ '/img/loading.gif' | relative_url }}" alt="Благодарственное письмо" data-src="{{ '/img/reviews/letter.jpg' | relative_url }}" class="lazyload">
					</a>							
				</div>
				<!-- /.reviews__letter--img lazyparent -->
				<div class="reviews__letter--text">
					<h3>Благодарственное <br>письмо</h3>
					<p>Сдается в аренду бортовой автомобиль ГАЗ 3307, валит на 3 стороны. Длина кузова - 3,5 метра. Общая грузоподъемность - 4,5 тонны. В кузове установлено крепление "Катюша", которое позволяет перевозить негабаритный груз длинной до 6 метров. При ее использовании груз должен не превышать 3 тонн. Минимальное время аренды - 3 часа. Междугородние перевозки - 35-40 р\км.</p>
				</div>
				<!-- /.reviews__letter--text -->
			</div>
			<!-- /.reviews__letter--slide -->
		</div>
		<!-- /.reviews__letter -->
	</div>
	<!-- /.reviews__letter__block -->
</section>
<!-- /.reviews -->
