---
layout: default
---

<!-- { { content } } -->

<section class="blog">
	<div class="container">
		<h2>Новости</span></h2>

		<div class="d-flex blog__wrap">
			
			<div class="news__grid">

				<article class="d-flex align-items-center news__article">
					<div class="news__date">
						<span class="day">25</span>
						<span class="mounth">июль,</span>
						<span class="year">2020</span>
					</div>
					<!-- /.news__date -->
					<div class="news__info">
						<div class="news__title">
							<a href="{{ '/single/' | relative_url }}">Заголовок</a>
						</div>
						<!-- /.news__title -->
						<p>Сдается в аренду бортовой автомобиль ГАЗ 3307, валит на 3 стороны. Длина кузова - 3,5 метра. Общая грузоподъемность - 4,5 тонны. В кузове установлено крепление "Катюша", которое позволяет перевозить негабаритный груз длинной до 6 метров. При ее использовании груз должен не превышать 3 тонн...</p>
					</div>
					<!-- /.news__info -->
					<a href="{{ '/single/' | relative_url }}" class="news__thumb  lazyparent">
						<img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ '/img/blog/art-1.jpg' | relative_url }}" alt="Заголовок статьи" class="lazyload">
					</a>
				</article>
				<!-- /.article -->

				<article class="d-flex align-items-center news__article">
					<div class="news__date">
						<span class="day">25</span>
						<span class="mounth">июль,</span>
						<span class="year">2020</span>
					</div>
					<!-- /.news__date -->
					<div class="news__info">
						<div class="news__title">
							<a href="{{ '/single/' | relative_url }}">Заголовок</a>
						</div>
						<!-- /.news__title -->
						<p>Сдается в аренду бортовой автомобиль ГАЗ 3307, валит на 3 стороны. Длина кузова - 3,5 метра. Общая грузоподъемность - 4,5 тонны. В кузове установлено крепление "Катюша", которое позволяет перевозить негабаритный груз длинной до 6 метров. При ее использовании груз должен не превышать 3 тонн...</p>
					</div>
					<!-- /.news__info -->
					<a href="{{ '/single/' | relative_url }}" class="news__thumb  lazyparent">
						<img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ '/img/blog/art-2.jpg' | relative_url }}" alt="Заголовок статьи" class="lazyload">
					</a>
				</article>
				<!-- /.article -->

				<article class="d-flex align-items-center news__article">
					<div class="news__date">
						<span class="day">25</span>
						<span class="mounth">июль,</span>
						<span class="year">2020</span>
					</div>
					<!-- /.news__date -->
					<div class="news__info">
						<div class="news__title">
							<a href="{{ '/single/' | relative_url }}">Заголовок</a>
						</div>
						<!-- /.news__title -->
						<p>Сдается в аренду бортовой автомобиль ГАЗ 3307, валит на 3 стороны. Длина кузова - 3,5 метра. Общая грузоподъемность - 4,5 тонны. В кузове установлено крепление "Катюша", которое позволяет перевозить негабаритный груз длинной до 6 метров. При ее использовании груз должен не превышать 3 тонн...</p>
					</div>
					<!-- /.news__info -->
					<a href="{{ '/single/' | relative_url }}" class="news__thumb  lazyparent">
						<img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ '/img/blog/art-3.jpg' | relative_url }}" alt="Заголовок статьи" class="lazyload">
					</a>
				</article>
				<!-- /.article -->

			</div>
			<!-- /.blog__grid -->

			<aside class="aside">

				<button class="sidebar-btn"><span></span><span></span><span></span></button>
				<!-- /.sidebar-btn -->

				<img src="{{ '/img/blog/page-icon-1.svg' | relative_url }}" class="aside__icon" alt="ALT">

				<div class="widgets">
					
					<div class="widgets__item">
						<h3>Темы</h3>

						<ul>
							<li><a href="javascripy:void(0)">Логистика, грузы</a></li>
							<li><a href="javascripy:void(0)">Дороги, инфраструктура</a></li>
							<li><a href="javascripy:void(0)">Экономика</a></li>
							<li><a href="javascripy:void(0)">Спецтехника</a></li>
							<li><a href="javascripy:void(0)">Автосервис, запчасти, шины</a></li>
							<li><a href="javascripy:void(0)" class="active">Разное</a></li>
						</ul>

					</div>
					<!-- /.widgets__item -->

					<div class="widgets__item">
						<h3>Новости</h3>

						<ul>
							<li><a href="{{ '/single/' | relative_url }}">Российских водителей избавят от недолива топлива на АЗС. Новый ГОСТ уже утвержден</a></li>
							<li><a href="{{ '/single/' | relative_url }}">Скоростной лимит на ряде трасс могут поднять до 150 километров  в час</a></li>
							<li><a href="{{ '/single/' | relative_url }}">Рязанец отсудил почти полмиллиона за поврежденную  в ДТП фуру</a></li>
							<li><a href="{{ '/single/' | relative_url }}">Мишустин рассказал, зачем России качественные дороги</a></li>
							<li><a href="{{ '/single/' | relative_url }}">На мосту через Кудьму на трассе М-7 Волга в Нижегородской области ограничивают движение</a></li>
						</ul>

						<a href="{{ '/news/' | relative_url }}" class="read-more">Все новости</a>
						<!-- /.read-more -->

					</div>
					<!-- /.widgets__item -->

					<div class="widgets__item">
						
						<a href="{{ '/discounts/' | relative_url }}" class="img-link">
							<span class="img-link-banner lazyparent">
								<img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ '/img/discounts/8hours.jpg' | relative_url }}" alt="ALT" class="lazyload">
							</span>
							<!-- /.img-link-banner -->									
							<span>При заказе KIA Granto более чем на 8 часов скидка 10%</span>
						</a>

					</div>
					<!-- /.widgets__item -->

					<div class="widgets__item">
						
						<a href="{{ '/discounts/' | relative_url }}" class="img-link">
							<span class="img-link-banner lazyparent">
								<img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ '/img/discounts/gift.jpg' | relative_url }}" alt="ALT" class="lazyload">
							</span>
							<!-- /.img-link-banner -->									
							<span>При первом заказе скидка 10% в подарок</span>
						</a>

					</div>
					<!-- /.widgets__item -->

				</div>
				<!-- /.aside__widgets -->

			</aside>

		</div>
		<!-- /.blog__wrap -->

		<nav class="d-flex justify-content-center align-items-center pagination">

			<a href="javascript:void(0)" class="pagination__link pagination__link--arrow">
				<img src="{{ '/img/icons/arrow-left.svg' | relative_url }}" alt="Влево">
			</a>
			<a href="javascript:void(0)" class="pagination__link">1</a>
			<a href="javascript:void(0)" class="pagination__link">2</a>
			<a href="javascript:void(0)" class="pagination__link active">3</a>
			<a href="javascript:void(0)" class="pagination__link">4</a>
			<a href="javascript:void(0)" class="pagination__link">5</a>
			<span class="pagination__dots">...</span>
			<a href="javascript:void(0)" class="pagination__link">10</a>
			<a href="javascript:void(0)" class="pagination__link pagination__link--arrow">
				<img src="{{ '/img/icons/arrow-right.svg' | relative_url }}" alt="Вправо">
			</a>
		</nav>
		<!-- /.pag-nav -->

	</div>
	<!-- /.container -->
</section>
<!-- /.blog-content -->