---
layout: default
---

<section class="blog">
  <div class="container">
    <h2>Статьи <span>разное</span></h2>

    <div class="d-flex blog__wrap single__page">
      
      <div class="blog__content">
        <h1>Экономика перевозок</h1>

        <em>Как выглядит бизнес перевозчика изнутри? Сколько денег приносит купленный за три миллиона рублей автопоезд и какие подводные камни возникают в ходе его эксплуатации?</em>
        <br><br>
        <img src="{{ '/img/blog/single.jpg' | relative_url }}" alt="ALT">
        <br>
        <p>Наша компания работала в разных сегментах логистики, имеет опыт перевозок силами собственного автопарка из 60 автомобилей. Мы возили грузы по Москве и Подмосковью на ГАЗелях и трёхтонниках, а затем перешли на магистральные междугородние перевозки, купив фуры (в основном, с тентованными полуприцепами).</p>
        <p>Я хочу рассказать о нашем опыте междугородних перевозок и экономике этого бизнеса.</p>
        <p>Сегодня небольшим компаниям и начинающим перевозчикам нет никакого смысла покупать новые фуры с полуприцепами. Стоимость сцепки легко может перевалить за 10 млн рублей, а текущие ставки на перевозки не позволят отбить даже лизинг, не говоря уже о прибыли. Даже если у вас есть необходимая сумма, и вы можете купить новый автопоезд, не влезая в кредиты, то доходность от его работы будет сравнима с доходностью банковского депозита – но плюсом к тому появится много проблем, которые нужно будет ежедневно решать. Крупные транспортные компании покупают новые грузовики для других целей (в основном, для списания НДС, чтобы быстро амортизировать машину, продать её и только потом получить прибыль).</p>
        <p>Оптимальный вариант для частника – покупка бывшей в употреблении сцепки-иномарки стоимостью около 3 млн рублей. Такую машину необходимо очень тщательно проверить: для этого нужно привлечь толкового специалиста. В идеале, в этот бизнес нужно входить при условии, что вы сами любите технику, любите с ней ковыряться – иначе каждая поломка будет казаться форс-мажором и давить на психику.</p>

        <div class="d-flex justify-content-between post-pagination">
          <a href="javascript:void(0)" class="prev-link" >Предыдущая статья</a>
          <a href="javascript:void(0)" class="next-link" >Следующая статья</a>
        </div>
        <!-- /.post-pagination -->

        <div class="d-flex flex-wrap blog__grid">

          <article class="article">
            <a href="javascript:void(0)" class="article__thumb  lazyparent">
              <img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ '/img/blog/art-1.jpg' | relative_url }}" alt="Заголовок статьи" class="lazyload">
            </a>
            <!-- /.article__thumb -->
            <div class="article__title">
              <a href="javascript:void(0)">Коронавирус изменил рынок логистики</a>
            </div>
            <!-- /.article__title -->
          </article>
          <!-- /.article -->

          <article class="article">
            <a href="javascript:void(0)" class="article__thumb lazyparent">
              <img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ '/img/blog/art-2.jpg' | relative_url }}" alt="Заголовок статьи" class="lazyload">
            </a>
            <!-- /.article__thumb -->
            <div class="article__title">
              <a href="javascript:void(0)">Коронавирус изменил рынок логистики</a>
            </div>
            <!-- /.article__title -->
          </article>
          <!-- /.article -->

          <article class="article">
            <a href="javascript:void(0)" class="article__thumb lazyparent">
              <img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ '/img/blog/art-3.jpg' | relative_url }}" alt="Заголовок статьи" class="lazyload">
            </a>
            <!-- /.article__thumb -->
            <div class="article__title">
              <a href="javascript:void(0)">Коронавирус изменил рынок логистики</a>
            </div>
            <!-- /.article__title -->
          </article>
          <!-- /.article -->

        </div>
        <!-- /.blog__grid -->

      </div>
      <!-- /.blog__content -->

      <aside class="aside">

        <button class="sidebar-btn"><span></span><span></span><span></span></button>
        <!-- /.sidebar-btn -->

        <img src="{{ '/img/blog/page-icon-2.svg' | relative_url }}" class="aside__icon" alt="ALT">

        <div class="widgets">
          
          <div class="widgets__item">
            <h3>Темы</h3>

            <ul>
              <li><a href="javascripy:void(0)">Логистика, грузы</a></li>
              <li><a href="javascripy:void(0)">Дороги, инфраструктура</a></li>
              <li><a href="javascripy:void(0)">Экономика</a></li>
              <li><a href="javascripy:void(0)">Спецтехника</a></li>
              <li><a href="javascripy:void(0)">Автосервис, запчасти, шины</a></li>
              <li><a href="javascripy:void(0)" class="active">Разное</a></li>
            </ul>

          </div>
          <!-- /.widgets__item -->

          <div class="widgets__item">
            <h3>Новости</h3>

            <ul>
              <li><a href="{{ '/single/' | relative_url }}">Российских водителей избавят от недолива топлива на АЗС. Новый ГОСТ уже утвержден</a></li>
              <li><a href="{{ '/single/' | relative_url }}">Скоростной лимит на ряде трасс могут поднять до 150 километров  в час</a></li>
              <li><a href="{{ '/single/' | relative_url }}">Рязанец отсудил почти полмиллиона за поврежденную  в ДТП фуру</a></li>
              <li><a href="{{ '/single/' | relative_url }}">Мишустин рассказал, зачем России качественные дороги</a></li>
              <li><a href="{{ '/single/' | relative_url }}">На мосту через Кудьму на трассе М-7 Волга в Нижегородской области ограничивают движение</a></li>
            </ul>

            <a href="{{ '/news/' | relative_url }}" class="read-more">Все новости</a>
            <!-- /.read-more -->

          </div>
          <!-- /.widgets__item -->

          <div class="widgets__item">
            
            <a href="{{ '/discounts/' | relative_url }}" class="img-link">
              <span class="img-link-banner lazyparent">
                <img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ '/img/discounts/8hours.jpg' | relative_url }}" alt="ALT" class="lazyload">
              </span>
              <!-- /.img-link-banner -->                  
              <span>При заказе KIA Granto более чем на 8 часов скидка 10%</span>
            </a>

          </div>
          <!-- /.widgets__item -->

          <div class="widgets__item">
            
            <a href="{{ '/discounts/' | relative_url }}" class="img-link">
              <span class="img-link-banner lazyparent">
                <img src="{{ '/img/loading.gif' | relative_url }}" data-src="{{ '/img/discounts/gift.jpg' | relative_url }}" alt="ALT" class="lazyload">
              </span>
              <!-- /.img-link-banner -->                  
              <span>При первом заказе скидка 10% в подарок</span>
            </a>

          </div>
          <!-- /.widgets__item -->

        </div>
        <!-- /.aside__widgets -->

      </aside>

    </div>
    <!-- /.blog__content -->

  </div>
  <!-- /.container -->
</section>
<!-- /.blog-content -->
