---
layout: default
---

{{ content }}

<section class="price" id="price">
	<div class="container">
		<h2>Прайс <span>лист</span></h2>

		<div class="f-table__wrap">
			<div class="price__table f-table">

				<div class="f-table__row f-table__head">
					<div class="f-table__col">№</div>
					<div class="f-table__col f-table__col--name">Наименование</div>
					<div class="f-table__col">Цена</div>
					<!-- <div class="f-table__col">1&nbsp;час</div> -->
					<!-- <div class="f-table__col">8&nbsp;часов</div> -->
				</div>
				<!-- /.f-table__row -->

				{%- assign default_paths = site.pages | sort: "index" | map: "path" -%}
				{%- assign page_paths = default_paths -%}

				{% assign amount = 0 %}

				{%- for path in page_paths -%}
					{%- assign car = site.pages | where: "path", path | first -%}
					{%- if car.path contains '/cars/' -%}
						{%- if car.title and car.index -%}

						{% capture amount %}{{ amount | plus:1 }}{% endcapture %}
				
				<a href="{{ car.url | relative_url }}" class="f-table__row table-link">
					<div class="f-table__col">{{ amount }}</div>
					<div class="f-table__col f-table__col--name">{{ car.car_name }}</div>
					<div class="f-table__col">{%- if car.price -%}{{ car.price }} ₽{%- endif -%}</div>
					<!-- <div class="f-table__col"></div> -->
				</a>
				<!-- /.f-table__row -->
			

						{%- endif -%}
					{%- endif -%}
				{%- endfor -%}

			</div>
			<!-- /.price__table f-table -->
		</div>
		<!-- /.f-table__wrap -->

		<nav class="model-nav model-nav-two">
			<ul class="model-nav-slider">
				{% assign amount = 0 %}

				{%- for path in page_paths -%}
					{%- assign car = site.pages | where: "path", path | first -%}
					{%- if car.path contains '/cars/' -%}
						{%- if car.title and car.index -%}

						{% capture amount %}{{ amount | plus:1 }}{% endcapture %}

						{%- assign img_path = "/img/model-nav/,.png" | split: "," -%}
						{%- assign img_url = img_path | join: car.uid -%}
				<li><a href="{{ car.url | relative_url }}" title="model"><span class="number">{{ amount }}</span><img src="{{ img_url | relative_url }}" alt="{{ car.car_name }}"></a></li>
			

						{%- endif -%}
					{%- endif -%}
				{%- endfor -%}

			</ul>
		</nav>
		<!-- /.model-nav -->

	</div>
	<!-- /.container -->
</section>
<!-- /#price.price -->
