.service
	&__item
		width: 23vmax
		height: 23vmax
		background-size: 10%
		background-position: center
		background-repeat: no-repeat
		position: relative
		overflow: hidden
		color: $white
		margin: 1vmax
		text-align: center
		&:before
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			background-size: cover
			background-position: center
		&:hover, &.active
			.service__item--over
				top: 0
				padding-top: 5.3vmax
		&--over
			background-color: rgba($accent, .9)
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 83%
			padding: 20px 10px
			transition: all .6s ease-in-out
			h3
				font-size: 1.1vmax
				text-align: center
				line-height: 1
				margin-bottom: 20px
			.excerpt
				font-size: 1vmax
				margin-bottom: 30px
				display: block
		.btn
			font-family: $default-font
			text-transform: uppercase
			background-color: $white
			color: $accent
			&:hover
				box-shadow: none

#orderForm
	h2
		font-size: 22px
		line-height: 1.2